@import '../../../styles/mixins';
.basket__item {
  max-width: 779px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 20px;
  @include sm {
    align-items: start;
    flex-direction: column;
  }
  .pizzaInfo {
    display: flex;
    align-items: center;
    .item__img {
      max-width: 73px;
      width: 100%;
      display: flex;
      align-items: center;
      & > img {
        width: 100%;
      }
    }
    .item__title {
      display: flex;
      flex-direction: column;
      gap: 8px;
      & > h3 {
        font-weight: 600;
        font-size: 20px;
        @include sm {
          font-weight: 400;
          font-size: 16px;
        }
      }
      & > p {
        font-weight: 400;
        font-size: 16px;
        @include sm {
          font-size: 10px;
        }
      }
    }
  }
  .quantity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    min-width: 35%;
    & > span {
      white-space: nowrap;
    }
    @include sm {
      width: 100%;
    }
    .item__btns {
      width: 65%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 5px;
      & > button {
        width: 40px;
        height: 40px;
        border: none;
        border-radius: 50%;
        background: #f2f2f2;
        @media (max-width: 960px) {
          width: 30px;
          height: 30px;
        }
      }
      & > button:last-child {
        background: transparent;
      }
    }
  }
}
